body{
    background-color: rgb(127, 206, 252);
}

h1{
    text-align: center;
    margin: 20px;
}

.imagenes_izq{
    height: 100px;
    padding-bottom: 43px;
    align-items: end;
}
.imagenes_der{
    height: 100px;
    padding-bottom: 43px;
}
.imagenes_cen{
    height: 100px;
    padding-bottom: 43px;
}

#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#columna1{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 50px 60px;
}
#columna2{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 50px 60px;
}
#columna3{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 50px 60px;
}
#columna4{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 50px 60px;
}
#columna5{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 50px 60px;
}